@font-face {
    font-family: 'AcromExtraBold';
    src: url('fonts/AcromExtraBold.eot');
    src: url('fonts/AcromExtraBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/AcromExtraBold.woff') format('woff'),
         url('fonts/AcromExtraBold.ttf') format('truetype'),
         url('fonts/AcromExtraBold.svg#acromextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}


html,
button,
input,
select,
textarea {
    color: #262626;
}

html {
    padding: 0;
    margin: 0;
}
body {
    font: bold 100px/100px Georgia, Times, serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #262626;
    margin: 24px 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Foundation Styles ==================================================
   ========================================================================== */

/* colors */
h1, h2, h3, .style-menu, .style-text { color: #262626; }
.style-invert,
.style-invert h1, .style-invert h2, .style-invert h3, 
.style-invert .style-menu, .style-invert .style-text { color: #FFFFFF; }

/* fonts */
h1, h2, h3, .style-menu {
    font-family: AcromExtraBold, 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h1, h2, h3 { padding: 0; margin: 0 }
h1, h2, h3, .style-menu {
    font-size: 18px;
    line-height: 24px;
}
.style-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .style-menu { font-size: 14px; }
    h1 { font-size: 38px; line-height: 48px }
}
@media only screen and (min-width: 1024px) {
    h1 { font-size: 48px; line-height: 48px }
}        

.symbols { 
    padding: 24px 0;
    margin: 0 auto;
    text-align: center;
}
.symbols-invert {
    padding: 24px 0;
    background: #262626;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}