@font-face {
    font-family: 'AcromExtraBold';
    src: url('fonts/AcromExtraBold.eot');
    src: url('fonts/AcromExtraBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/AcromExtraBold.woff') format('woff'),
         url('fonts/AcromExtraBold.ttf') format('truetype'),
         url('fonts/AcromExtraBold.svg#acromextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}


html,
button,
input,
select,
textarea {
    color: #262626;
}
img { display: block }


html {
    padding: 0;
    margin: 0;
}
body {
    font: bold 100px/100px Georgia, Times, serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #262626;
    margin: 24px 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Foundation Styles ==================================================
   ========================================================================== */
p {
    margin: 0;
    padding: 0 0 24px 0;
}

/* colors */
h1, h2, h3, .style-menu, .style-text { color: #262626; }
.style-invert,
.style-invert h1, .style-invert h2, .style-invert h3, 
.style-invert .style-menu, .style-invert .style-text { color: #FFFFFF; }

/* fonts */
h1, h2, h3, .style-menu, .style-subtitle {
    font-family: AcromExtraBold, 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h1, h2, h3 { padding: 0; margin: 0 }
h1, h2, h3, .style-menu, .style-subtitle {
    font-size: 18px;
    line-height: 24px;
}
.style-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}
.button {
    font-family: AcromExtraBold, 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    display: block; 
    margin: -4px;
    text-align: center;
}
a.button:link, a.button:visited {
    text-decoration: none;
    color: #262626;
    border: 4px solid #262626;
}
a.button:hover, a.button:active {
    text-decoration: none;
    color: #4C698D;
    border: 4px solid #4C698D;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .style-menu { font-size: 14px; }
    h1 { font-size: 38px; line-height: 48px }
}
@media only screen and (min-width: 1024px) {
    h1 { font-size: 48px; line-height: 48px }
}        

.symbols { 
    padding: 24px 0;
    margin: 0 auto;
    text-align: center;
}
.symbols-invert {
    padding: 24px 0;
    background-color: #262626;
}


section.style-invert {
    background-color: #262626;    
}

.b-subtitle {
    padding: 24px 0;
    text-align: center;
}
section h1 {
    padding: 0 0 0;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .b-subtitle {
        padding: 24px 24px 0;
        text-align: left;
    }
    section h1 {
        padding: 24px 24px 0;
        text-align: left;
    }
}

a:link, a:visited {
    text-decoration: underline;
    color: #262626;
}
a:hover, a:active {
    text-decoration: none;
    color: #4C698D;
}


/* ==========================================================================
   ========================================================================== */
nav {
    position: fixed;
    left: 0; 
    width: 100%;
    height: 72px;
    background-color: #ffffff; 
    display: none;
    z-index: 1000;
    box-shadow: 0 -2px 10px rgba(0,0,60, 0.5);
}
.nav-space {
    display: none;
    height: 72px;
}
.nav-helper {
    float:right;
    position:relative;
    left:-50%;
}
nav ul {
    list-style:none;
    position:relative;
    left:50%;
    padding: 0;
    margin: 0 auto;
}
nav li {
    float: left;
    margin: 24px 12px;
}
nav a:link, nav a:visited {
    text-decoration: none;
    color: #262626;
}
nav a:hover, nav a:active {
    text-decoration: none;
    color: #4C698D;

}
.icon-pos {
    position: absolute;
    top: 15px;
    margin-left: -14px;
    z-index: 2000;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    nav, .nav-space { 
        display: block; 
        height: 48px;
    }
    .icon-pos {
        position: absolute;
        top: 4px;
        margin-left: -14px;
        z-index: 2000;
    }
    nav li {
        float: left;
        margin: 12px 5px;
    }
}
@media only screen and (min-width: 1024px) {
    nav, .nav-space { display: block; }
}

/* ==========================================================================
   ========================================================================== */
section#title {
    overflow: hidden;
}
@media only screen and (max-width: 767px) {
    .title-orbita {
        overflow: hidden;
        height: 240px;
    }
    .icon-orbita {
        margin-top: -67px;
        margin-left: -98px;
    }
    .title-orbita h2 {
        width: 144px;
        position: absolute;
        top: 96px;
        left: 48px;
        color: #262626;
    }
    .b-left-column, .b-right-column {
        background-color: #ffffff;
    }
    .b-left-column {
        padding: 24px 24px 0 24px;
    }
    .b-right-column {
        padding: 0px 24px 24px 24px;
    }
    .b-left-column .style-text, .b-right-column .style-text,
    .b-left-column h2, .b-right-column h2 {
        color: #262626;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    section#title {
        height: 336px;
    }
    section#title .icon-orbita {
        position: absolute;
        left: 50%;
        margin-left: -206px;
        margin-top: -19px;
    }
    .title-orbita h2 {
        width: 144px;
        position: absolute;
        left: 50%;
        margin-left: -66px;
        margin-top: 138px;
        color: #262626;
    }  
    .b-left-column {
        position: absolute;
        left: 4.1666667%;
        width: 23%;
        margin-top: 24px;
    }
    .b-right-column {
        position: absolute;
        left: 77.083335%;
        width: 20.8333335%;
        margin-top: 24px;
    }
    section#title .button {
        width: 90%;
    }
    section#title a.button:link, section#title a.button:visited {
        text-decoration: none;
        color: #FFFFFF;
        border: 4px solid #FFFFFF;
    }
    section#title a.button:hover, section#title a.button:active {
        text-decoration: none;
        color: #262626;
        background: #ffffff;
    }
}
@media only screen and (min-width: 1024px) {
    section#title {
        height: 336px;
    }
    section#title .icon-orbita {
        position: absolute;
        left: 50%;
        margin-left: -275px;
        margin-top: -82px;
    }
    .title-orbita h2 {
        width: 144px;
        position: absolute;
        left: 50%;
        margin-left: -66px;
        margin-top: 144px;
        color: #262626;
    }    
    .b-left-column {
        position: absolute;
        left: 50%;
        width: 210px;
        margin-left: -462px;
        margin-top: 24px;
    }
    .b-right-column {
        position: absolute;
        left: 50%;
        width: 168px;
        margin-left: 294px;
        margin-top: 24px;
    }
    .b-left-column h2 { margin: 0 0 24px 0;}
    section#title a.button:link, section#title a.button:visited {
        text-decoration: none;
        color: #FFFFFF;
        border: 4px solid #FFFFFF;
    }
    section#title a.button:hover, section#title a.button:active {
        text-decoration: none;
        color: #262626;
        background: #ffffff;
    }

}

/* ==========================================================================
   ========================================================================== */
section#schoolmen {
    position: relative;
    width:100%;
    padding-bottom: 24px;
}

@media only screen and (max-width: 767px) {
    .b-center-column { 
        padding: 0 24px;
    }
    .b-person {
        margin-top: 24px;
        float: left;
        width: 96px;
        margin-left: 24px;
        margin-bottom: 24px;
    }
    .b-person-picture {
        width: 96px;
        height: 96px;
        background-size: cover;
        border-radius: 100px;
        border: 0px none;
    }
    .b-person h2 {
        position: relative;
        margin-left: 48px;
    }
    .b-person-title, .b-person-about {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .b-center-column { 
        padding: 0 24px;
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
    .b-person {
        height: 144px;
        margin: 24px 0;
    }
    .b-person-picture {
        position: absolute;
        width: 144px;
        height: 144px;
        background-size: cover;
        border-radius: 200px;
        border: 0px none;
        margin-left: 25%;
    }    
    .b-person h2 {    
        position: absolute;   
        margin-top: 24px;
        text-align: right;
        width: 20.8333333%;
    }
    .b-person-title {    
        position: absolute;   
        margin-top: 72px;
        text-align: right;
        width: 20.8333333%;
    }
    .b-person-about {
        padding-top: 24px;
        text-align: left;
        margin-left: 50%;
        width: 37.5%;      
    }
}
@media only screen and (min-width: 1024px) {
    .b-center-column { 
        padding: 0 24px;
        text-align: center;
        width: 420px;
        margin: 0 auto;
    }
    .b-person-wrap {
        height: 336px;
        position: relative;
        left: 50%;
        width: 50%;
    }
    .b-person {
        position: absolute;
    }
    .b-person-picture {
        position: absolute;
        width: 192px;
        height: 192px;
        background-size: cover;
        border-radius: 200px;
        border: 0px none;
    }    
    .b-person h2 {    
        position: absolute;   
        margin-top: 48px;
        text-align: right;
        width: 168px;
    }
    .b-person-title {    
        position: absolute;   
        margin-top: 96px;
        text-align: right;
        width: 168px;
    }
    .b-person-about {
        padding-top: 192px;
        text-align: left;
        width: 252px;   
        margin-left: 96px;   
    }    
    .m-person-left {
        margin-left: -294px;
    }
    .m-person-right {
        margin-left: 102px;
    }
    .m-person-left h2, .m-person-left .b-person-title {
        margin-left: -210px;
    }
    .m-person-right h2, .m-person-right .b-person-title {
        text-align: left;
        margin-left: 234px;
    }
}

/* ==========================================================================
   ========================================================================== */
section#programme {
    margin: 0;
    padding: 0;
    z-index: 900;
}
.m-programme-small { display: none }
.programme-head.style-invert {
    background-color: #262626;    
}
.programme-part p { display: none }
.programme-part h2 { display: none }
.programme-part {
    padding-bottom: 24px
}

section#programme ul { 
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
    position: absolute;
    left: 50%;
    margin-left: -324px;
}
section#programme .ul-space {
    height: 120px;
}
section#programme li { 
    float: left;
}
section#programme a {
    display: block;
    width: 168px;
    text-align: center;
    margin: 0 24px;
    padding: 24px 0;
}
section#programme a:link, section#programme a:visited,
section#programme a:hover, section#programme a:active {
    text-decoration: none;
}
section#programme .icon-box {
    position: absolute;
    margin-top: 17px;
    margin-left: -4px;
}
.icon-01, .icon-03, .icon-05, .icon-07, .icon-09,
.icon-11, .icon-13, .icon-15, .icon-17, .icon-19,
.icon-21, .icon-23, .icon-25, .icon-27, .icon-29
{
    margin-left: -21px;
    margin-top: 70px;
    -webkit-transform:rotateZ(15deg);
       -moz-transform:rotateZ(15deg);
        -ms-transform:rotateZ(15deg);
         -o-transform:rotateZ(15deg);
            transform:rotateZ(15deg);
}
.icon-02, .icon-04, .icon-06, .icon-08, .icon-10,
.icon-12, .icon-14, .icon-16, .icon-18, .icon-20,
.icon-22, .icon-24, .icon-26, .icon-28, .icon-30
{
    margin-top: -10px;
    margin-left: 21px;
    -webkit-transform:rotateZ(-15deg);
       -moz-transform:rotateZ(-15deg);
        -ms-transform:rotateZ(-15deg);
         -o-transform:rotateZ(-15deg);
            transform:rotateZ(-15deg);
}
.icon-26 {
    -webkit-transform:rotateZ(100deg);
       -moz-transform:rotateZ(100deg);
        -ms-transform:rotateZ(100deg);
         -o-transform:rotateZ(100deg);
            transform:rotateZ(100deg);

}
.icon-01 { margin-top: 50px;}
.icon-06 { margin-top: 10px;}

@media only screen and (max-width: 767px) {
    .programme-icons-left, .programme-icons-right { 
        display: none
    }
    .m-programme-small { display: block; padding-top: 0; }
    .m-programme-big { display: none }
    section#programme ul,
    section#programme .ul-space { display: none }
    section#programme .icon-box { display: none }
    .programme-head {
        height: 72px;
        padding: 72px 24px 0;
        margin: 0;
    }
    .programme-part-1 .programme-head {
        padding-top: 48px;
    }
    .programme-head h2 {
        display: block;
        width: 168px;
        margin-left: 24px;
        text-align: center; 
        position: relative;
    }
    .programme-part p.m-programme-description {
        display: block;
        margin: 24px 24px 0;
    }
    .programme-head .icon-box {
        position: absolute;
        margin-top: -31px;
        margin-left: -6px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .programme-head { display: none }
    .programme-part p, .programme-part h2 { 
        margin: 0 20.8333335%;
        display: block; 
    }
    .programme-part p.m-programme-description {
        margin-top: 24px;
    }
    .programme-part p.m-programme-description {
        border-top: 4px solid #262626;
        margin-top: -2px;
        padding-top: 22px;
    }
    .programme-part-1 p.m-programme-description {
        border: 0;
        padding-top: 0;
        margin-top: 24px;
    }
    .programme-icons-left { 
        display: block;
        position: absolute;
        left: 5%;
        width: 12.5%;
    }
    .programme-icons-right { 
        display: block;
        position: absolute;
        left: 85%;
        width: 12.5%;
    }    
}
@media only screen and (min-width: 1024px) {
    .programme-head { display: none }
    .programme-part p, .programme-part h2 { 
        position: relative;
        left: 50%;
        width: 672px;
        margin-left: -336px;
        display: block; 
    }
    .programme-part p.m-programme-description {
        margin-top: 24px;
    }
    .programme-part p.m-programme-description {
        border-top: 4px solid #262626;
        margin-top: -2px;
        padding-top: 22px;
    }
    .programme-part-1 p.m-programme-description {
        border: 0;
        padding-top: 0;
        padding-top: 24px;
    }
    .programme-icons-left { 
        display: block;
        position: absolute;
        left: 50%;
        width: 210px;
        margin-left: -462px;
    }
    .programme-icons-right { 
        display: block;
        position: absolute;
        left: 50%;
        width: 210px;
        margin-left: 378px;
    }
    .icon-24, .icon-25 { display: none}
}

/* ==========================================================================
   ========================================================================== */
section#practices { 
}
@media only screen and (max-width: 767px) {
    .icon-practice-circle { display: none }
    .icon-practice-line { 
        display: block;
        position: absolute;
        margin-top: 28px;
        margin-left: 8px;
    }
    .practices-list {
        margin: 24px 24px 0 96px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    section#practices { height: 600px;}
    .icon-practice-line { display: none; }
    .icon-practice-circle { 
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -167px;
        margin-top: 96px;
    }
    .m-practice-1 {
        position: absolute;
        margin-left: 12.5%;
        margin-top: 48px;
        width: 192px;
    }
    .m-practice-2 {
        position: absolute;
        margin-left: 62.5%;
        margin-top: 24px;
        width: 192px;
    }
    .m-practice-3 {
        position: absolute;
        margin-left: 70.833333%;
        margin-top: 192px;
        width: 192px;
    }
    .m-practice-4 {
        position: absolute;
        margin-left: 58.333334%;
        margin-top: 384px;
        width: 33.3333336%;
    }
    .m-practice-5 {
        position: absolute;
        margin-left: 8.333334%;
        margin-top: 336px;
        width: 192px;
    }
    .m-practice-6 {
        position: absolute;
        margin-left: 20.833335%;
        margin-top: 240px;
        width: 192px;
    }
}
@media only screen and (min-width: 1024px) {
    section#practices { height: 720px;}
    .icon-practice-line { display: none; }
    .icon-practice-circle { 
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        margin-top: 48px;
    }
    .m-practice-1 {
        position: absolute;
        left: 50%;
        margin-left: -378px;
        margin-top: 48px;
        width: 210px;
    }
    .m-practice-2 {
        position: absolute;
        left: 50%;
        margin-left: 210px;
        margin-top: 24px;
        width: 210px;
    }
    .m-practice-3 {
        position: absolute;
        left: 50%;
        margin-left: 294px;
        margin-top: 240px;
        width: 168px;
    }
    .m-practice-4 {
        position: absolute;
        left: 50%;
        margin-left: 168px;
        margin-top: 528px;
        width: 276px;
    }
    .m-practice-5 {
        position: absolute;
        left: 50%;
        margin-left: -378px;
        margin-top: 432px;
        width: 210px;
    }
    .m-practice-6 {
        position: absolute;
        left: 50%;
        margin-left: -294px;
        margin-top: 288px;
        width: 210px;
    }
}

/* ==========================================================================
   ========================================================================== */
section#commendations { padding: 24px 0 48px; }
@media only screen and (max-width: 767px) {
    section#commendations h1 { padding-top: 0;}
}
@media only screen and (min-width: 1024px) {
    section#commendations { padding: 48px 0 72px; }
}

/* ==========================================================================
   ========================================================================== */
section#admission {
    padding-bottom: 24px
}

section#admission ol { 
    margin: 0 24px;
    padding: 0 24px;
}
section#admission ol li { 
    padding: 0 0 24px 0;
    margin: 0;
}
section#admission ol.m-admission-pi {
    margin-right: 0;
    padding-right: 0;
    margin-bottom: -48px;
}
section#admission ol.m-admission-pi li {
    white-space: nowrap;
    overflow: hidden;
}
.icon-blob-small, 
.icon-blob-big {
    position: absolute;
}
.icon-blob-orbita { display: none }


@media only screen and (max-width: 767px) {
    .m-admission-extra { display: none }
    section#admission .icon-blob-big { display: none }
    section#admission p {
        margin: 0 24px;
        padding: 0;
    }
    section#admission .b-bubble {
        width: 96px;
        height: 120px;
        margin: 24px 24px 0;
        text-align: center;
    }
    section#admission .b-bubble span {
        top: 36px;
        position: relative;
    }

    .admission-rules {
        margin: 24px;
        height: 120px;
    }
    .admission-rules .icon-box {
        margin-left: -6px;
        margin-top: -6px;
        position: absolute;
    }
    .admission-rules h2 {
        position: relative;
        width: 168px;
        text-align: center;
        left: 24px;
        top: 24px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .m-admission-extra { display: none }
    section#admission {
        padding-bottom: 24px;
    }
    section#admission .b-bubble {
        width: 84px;
        height: 120px;
        margin: 24px 0 0 4.1666667%;
        text-align: center;
    }
    section#admission .m-admission-999 {
        width: 110px;
        height: 144px;
        text-align: center;
    }
    section#admission .icon-blob-small,
    section#admission .icon-blob-big { margin-left: -8px;}
    .m-admission-999 .icon-blob-small { display: none; }
    .icon-blob-big   { display: block; }
    section#admission .b-bubble span {
        top: 36px;
        position: relative;
    }
    section#admission .b-bubble.m-admission-999  span {
        top: 48px;
    }
    section#admission p {
        margin: 0 0 0 4.1666667%;
        width: 29.1666667%;
        padding: 0;
    }
    .admission-bubbles {
        position: absolute;
        margin-top: 24px;
    }
    .admission-rules {
        margin: 48px 4.1666667% 0 50%;
        height: 144px;
    }
    .admission-rules .icon-box {
        margin-left: -6px;
        margin-top: -6px;
        position: absolute;
    }
    .admission-rules h2 {
        position: relative;
        width: 168px;
        text-align: center;
        left: 24px;
        top: 24px;
    }
    section#admission ol { 
        margin: 0px 4.1666667% 0 50%;
        padding: 0 0 0 0;
    }
}
@media only screen and (min-width: 1024px) {
    .m-admission-extra { display: none }
    section#admission {
        padding-bottom: 24px;
    }
    section#admission h1 {
        padding-bottom: 24px;
    }
    .icon-blob-orbita {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -1150px;
        margin-top: -48px;
    }

    section#admission .b-bubble {
        width: 84px;
        height: 120px;
        margin: 24px 0 0 4.1666667%;
        text-align: center;
    }
    section#admission .m-admission-999 {
        width: 110px;
        height: 144px;
        text-align: center;
    }
    section#admission .icon-blob-small,
    section#admission .icon-blob-big { margin-left: -8px;}
    .m-admission-999 .icon-blob-small { display: none; }
    .icon-blob-big   { display: block; }
    section#admission .b-bubble span {
        top: 36px;
        position: relative;
    }
    section#admission .b-bubble.m-admission-999 span {
        top: 48px;
    }
    section#admission .b-bubble.m-admission-999 {
        position: absolute;
        left: 50%;
        margin-top: -0px;
        margin-left: -360px;
    }
    section#admission .m-admission-999-text {
        position: absolute;
        width: 252px;
        left: 50%;
        margin-top: 24px;
        margin-left: -210px;
    }
    section#admission .b-bubble.m-admission-99 {
        position: absolute;
        left: 50%;
        margin-top: 200px;
        margin-left: -400px;
    }
    section#admission .m-admission-99-text {
        position: absolute;
        width: 168px;
        left: 50%;
        margin-top: 312px;
        margin-left: -462px;
    }
    .admission-rules {
        position: relative;
        left: 50%;
        margin: 48px 0 0 84px;
        height: 144px;
        width: 200px;
    }
    .admission-rules .icon-box {
        margin-left: -6px;
        margin-top: -6px;
        position: absolute;
    }
    .admission-rules h2 {
        position: relative;
        width: 168px;
        text-align: center;
        left: 24px;
        top: 24px;
    }
    section#admission ol { 
        width: 420px;
        margin: 0px 0 0 50%;
        padding: 0 0 0 0;
    }
    section#admission ol.m-admission-pi {
        width: 50%;
        overflow: hidden;
        margin-bottom: -48px;
    }
}
@media only screen and (min-width: 1275px) {
    .m-admission-extra { display: block }
    section#admission .b-bubble.m-admission-9999 {
        position: absolute;
        left: 50%;
        margin-top: 480px;
        margin-left: -620px;
    }
    section#admission .m-admission-9999-text {
        position: absolute;
        width: 168px;
        left: 50%;
        margin-top: 504px;
        margin-left: -502px;
    }    
}


/* ==========================================================================
   ========================================================================== */
section#enquiry {
    position: relative;
}
input,
textarea {
    border: 3px solid #262626;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: block;
}
form { padding: 0; margin: 0; }
.enquiry-send {
    width: 138px;
    height: 87px;
    margin-top: 24px;
    padding: 0 20px 12px 0;
    border: none;
    background: inherit;
    position: relative;
    display: block;
    font-family: AcromExtraBold, 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer; cursor: hand;
}
.icon-send {
    position: absolute;
    margin-top: 24px;
}
.enquiry-result {
    display: none;
}

@media only screen and (max-width: 767px) {
    form { margin: 0 75px 0 21px }
    input, textarea { font-size: 14px }
    textarea {
        padding: 24px;
        margin: 21px 0 18px;
        height: 120px;
        width: 100%;
    }
    input {
        padding: 12px 24px;
        margin: 18px 0;
        height: 24px;
        width: 100%;
    }
    .enquiry-send {
        padding: 0 20px 12px 0;
        margin: 24px 0 57px;
    }
    section#enquiry form .style-text {
        padding: 3px 3px 0;
    }
    .enquiry-result {
        padding: 24px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    form {
        margin: 0 12.5%;
        padding-top: 48px;
        padding-bottom: 27px;
    }
    textarea {
        padding: 24px;
        margin: -3px -3px 0 -3px;
        height: 168px;
        width: 91.7%;
    }
    input {
        padding: 12px 24px;
        margin: 18px -3px;
        height: 24px;
        width: 40%;
    }
    .enquiry-send {
        padding: 0 20px 12px 0;
        position: absolute;
        margin-top: -96px;
        margin-left: 45.8333333%;
    }
    .icon-send {
        position: absolute;
        margin-top: -96px;
        margin-left: 45.8333333%;
    }
    section#enquiry form .style-text {
        position: absolute;
        margin-top: -216px;
        margin-left: 45.8333333%;
        width: 29.166667%;
        padding: 3px 0 0;
    }
    .enquiry-result {
        padding: 24px 25%;
        text-align: center;
    }
}
@media only screen and (min-width: 1024px) {
    section#enquiry {
        height: 528px;
    }
    form {
        position: absolute;
        left: 50%;
        margin-left: -420px;
        margin-top: 48px;
    }
    textarea {
        position: absolute;
        padding: 24px;
        margin: -3px -3px 0 -3px;
        height: 264px;
        width: 372px;
    }
    input {
        padding: 12px 24px;
        margin: -3px -3px 21px;
        height: 24px;
        width: 372px;
    }
    .enquiry-inputs {
        position: absolute;
        margin-left: 462px;
    }
    .enquiry-send {
        padding: 0 20px 12px 0;
        position: absolute;
        margin-top: 216px;
        margin-left: 746px;
    }
    .icon-send {
        position: absolute;
        margin-top: 216px;
        margin-left: 744px;
    }
    section#enquiry form .style-text {
        position: absolute;
        margin-top: 216px;
        margin-left: 462px;
        width: 240px;
        padding: 3px 0 0;
    }
    .enquiry-result {
        padding: 120px 25%;
        text-align: center;
    }

}

/* ==========================================================================
   ========================================================================== */
footer {
    padding-top: 24px;
    padding-bottom: 96px;
}

@media only screen and (max-width: 767px) {
    footer hr {
        margin: 0 24px 44px;
    }
    footer .style-text {
        margin: 0 24px;
        text-align: center;
    }
    .icon-above {
        position: relative;
        left: 50%;
        width: 126px;
        margin-left: -63px;
        margin-top: 24px;
        margin-bottom: 18px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    footer hr {
        margin: 24px 4.1666667% 44px;
    }
    .footer-thank  {
        position: absolute;
        margin-left: 8.3333334%;
        margin-top: -120px;
        width: 29.1666667%;
        text-align: right;
    }
    .footer-copy  {
        position: absolute;
        margin-left: 62.5%;
        margin-top: 24px;
        width: 29.1666667%;
        text-align: left;
    }
    .icon-above {
        position: relative;
        left: 50%;
        width: 126px;
        margin-left: -63px;
        margin-top: 24px;
        margin-bottom: 18px;
    }    
}
@media only screen and (min-width: 1024px) {
    footer hr {
        margin: 0 4.1666667% 44px;
    }
    .footer-thank  {
        position: absolute;
        left: 50%;
        margin-left: -336px;
        margin-top: -120px;
        width: 252px;
        text-align: right;
    }
    .footer-copy  {
        position: absolute;
        left: 50%;
        margin-left: 84px;
        margin-top: 24px;
        width: 252px;
        text-align: left;
    }
    .icon-above {
        position: relative;
        left: 50%;
        width: 126px;
        margin-left: -63px;
        margin-top: 24px;
        margin-bottom: 18px;
    }    
}


/* ==========================================================================
   Backgrounds
   ========================================================================== */

.bg-mm {
    background-image: url(../img/bg/mm.png);
    background-repeat: repeat;
}
.bg-dots {
    background-image: url(../img/bg/dots.png);
    background-repeat: repeat;
}
.bg-dots-2 {
    background-image: url(../img/bg/dots-2.png);
    background-repeat: repeat;
}

.bg-title {
    background-image: url(../img/bg/title.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: 25% center;
}
.bg-programme {
    background-image: url(../img/bg/programme.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: 25% center;
}
.bg-practices {
    background-image: url(../img/bg/practices.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: 25% center;
}
.bg-admission {
    background-image: url(../img/bg/admission.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center 25%;
}

/* ==========================================================================
   Fancy rotation
   ========================================================================== */

h1,
.b-center-column,
.b-subtitle,
.m-person-right,
.m-person-left,
.practices-list .style-text,
.b-left-column {
    -webkit-transform:rotateZ(-1deg);
       -moz-transform:rotateZ(-1deg);
        -ms-transform:rotateZ(-1deg);
         -o-transform:rotateZ(-1deg);
            transform:rotateZ(-1deg);
}
#admission ol,
.admission-bubbles .style-text,
.b-right-column {
    -webkit-transform:rotateZ(1deg);
       -moz-transform:rotateZ(1deg);
        -ms-transform:rotateZ(1deg);
         -o-transform:rotateZ(1deg);
            transform:rotateZ(1deg);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.g-clear {
    clear: both;
    height: 1px; 
    margin-bottom: -1px;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}